
.right-bar .table thead {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(0deg, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06));
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(17px);
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.06);
  }
  
  .right-bar .table tbody {
    color: #4a5063;
  }
  
  .right-bar .table tr td {
    font-size: 13px;
  }
  .message {
    border-left: 1.5px solid rgba(54, 49, 77, 0.51);
    margin-right: 1px;
  }
  .message .form-control,
  .message .input-group-text {
    background-color: #111320;
    border-radius: 14px;
    border: 0;
    height: 45px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
    line-height: 17px;
    outline: none;
  }
  
  .message .form-control {
    border-right: 0;
  }
  
  .form-control:focus {
    box-shadow: none;
  }
  
  .right-bar .message {
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0) -4.08%,
            rgba(0, 0, 0, 0.791667) 44.21%,
            #000000 239.9%);
    position: fixed;
    bottom: 0px;
    padding: 0 10px;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.06);
    height: 100px;
    width: 296px;
    right: 0;
    z-index: 3;
  }
  
  .right-bar.message .form-control {
    border-right: 0;
    font-size: 15px;
  }
  
  .right-bar .message .input-group {
    margin-top: 30px;
    border: solid 1px #3a3838;
    border-radius: 14px;
    border-right: none;
  }  

  
.right-bar .table thead::after {
  content: "";
  background: rgba(255, 255, 255, 0.53);
  filter: blur(12.5px);
  width: 35px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: -15px;
  border-radius: 100px;
}

.right-bar .table tr th {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
}

.right-bar .table tr th img {
  width: 30px;
  height: 30px;
  object-fit: none;
  border-radius: 8px;
  cursor:pointer;
}

.right-bar .table span.name {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  cursor:pointer;
}

.right-bar .table span.name time {
  color: #4a5063;
}

.right-bar .table p {
  color: #67707b;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
}