body {
    font-family: "Acumin Pro" !important;
    background-color: #111320;
   -ms-overflow-style: none;
}

p {
    color: #3b404c;
}

.btn-style3 {
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    font-size: 13px;
    border-radius: 7px;
    background: linear-gradient(95.51deg,
            rgba(255, 255, 255, 0.16) 2.08%,
            rgba(255, 255, 255, 0) 100.6%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
    padding: 15px 26px;
  }
  
  .btn-style3:hover {
    color: #fff;
  }

  
.border  {
    border: solid 1px #30303f !important;
}